<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzy.jolt.mapper.ClassMapper">

    <insert id="insertT" parameterType="class">
        insert into class(class_age, class_major)
        values(#{class_age}, #{class_major})
    </insert>

    <select id="findByIntClass" parameterType="class" resultType="class">
        SELECT * FROM class WHERE class_age =#{class_age} AND class_major=#{class_major}
    </select>

    <select id="findByList" resultType="class">
        SELECT * FROM class
    </select>

    <select id="findByIntId" parameterType="int" resultType="class">
        SELECT * FROM class WHERE class_user=#{id}
    </select>

    <update id="updateT" parameterType="class">
        UPDATE class
        <set>
            <if test="class_age != null">class_age=#{class_age},</if>
            <if test="class_major != null">class_major=#{class_major},</if>
        </set>
        WHERE class_user=#{class_user}
    </update>

    <delete id="deleteByIntId" parameterType="int" >
        DELETE FROM class WHERE class_user=#{id}
    </delete>

    <select id="query" parameterType="class" resultType="class">
        SELECT  * from class WHERE
        <if test="class_user!=null">class_user = #{class_user}</if>
        <if test="class_age !=null">class_age = #{class_age}</if>
        <if test="class_major!=null">class_major LIKE '%${class_major}%'</if>
    </select>
</mapper>