.inf-lside table{
	display: block;
	width: 100%;
	float: left;
}
.inf-lside table{
	display: block;
	float: left;
}
.inf-lside table tr td{
	width: 1200px;
	height: 60px;
	font-weight: bold;
	text-align: left;
}
.inf-rside{
	position: absolute;
	margin-top: 20px;
	margin-left: -106px;
	float: right;
	width: 100px;
	height: 30px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #eaede1;
}

input{
	width: 336px;
	height: 42px;
	padding: 0px 10px 0px 42px;
	box-sizing:border-box;
}
input:focus{
	outline-color: rgb(53,195,110)
}